.imageGrid {
  margin-top: 16px;
}

.imageContainer {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.selection {
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 0 !important;
  background-color: #ffffffcc !important;
}

@media (max-width: 768px) {
  .radioCheck {
    display: none;
  }
}

.radioCheck {
  width: 15px;
  height: 15px;
}

.imageFlexContainer {
  display: flex;
  flex-wrap: wrap;
}
