.imageGrid {
  margin-top: 16px;
}

.imageContainer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.rankContainer {
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rankValue {
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
}

.imageFlexContainer {
  display: flex;
  flex-wrap: wrap;
}