.mainContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0px 0px 20px 20px;

}

.defaultUrl {
  background-color: #ededed;
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.urlLink.urlLink {
  color: black;
  text-decoration: none;
}

.socialLink {
  justify-content: center;
  display: flex;
  gap: 15px;
}

.iconShareFb {
  fill: #3c5997 !important;
}

.iconShareTw {
  fill: #05aced !important;
}

.iconShareLn {
  fill: #027fb1 !important;
}

.actionButton.actionButton {
  display: flex;
  align-items: center;
  background-color: #e3e3e3;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  font-size: 0.875rem;
}

.copyButton.copyButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 20px;
}

.buttonContainer {
  display: flex;
  width: 100%;
}

@media (max-width: 768px) {
  .buttonContainer {
    flex-wrap: wrap;
  }
}