.groupCard {
  padding: 8px;
  margin: 8px;
}

.groupTitle {
  font-weight: bolder;
}

.questionTitle {
  display: flex;
  padding: 8px;
  margin: 8px;
}

.questionIcon {
  margin-left: 8px;
  margin-right: 8px;
  color: green;
  font-size: 1.2rem;
}

.bullet {
  margin-right: 8px;
  margin-left: 8px;
  font-size: 1.2rem;
}

.redAsterix {
  margin-left: 0.5rem;
  color: red;
}