CADDY_HOSTNAME=localhost
POSTGRES_USER=qlarr
POSTGRES_PASSWORD=change_me_in_production
JWT_SECRET=change_me_to_a_secure_random_string

MAIL_HOST=
MAIL_PORT=
MAIL_SMTP_SSL=
MAIL_SMTP_STARTTLS=
MAIL_USERNAME=
MAIL_PASSWORD=
