.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.action {
  text-align: end;
  margin-top: 16px;
}


.upload {
  margin-top: 16px;
  gap: 8px;
}

.uploadFileName {
  margin: 4px;
}

.errorText {
  color: #eb5757 !important;
}