.surveyContent {
  margin: 0;
}

.surveyGroups {
  position: relative;
  margin: auto;
  max-width: 800px;
  min-width: 300px;
}

.cardImage {
  max-height: 22.5vw;
  height: 160px;
  margin: 12px auto;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.mainContainer {
  margin: auto;
  height: 100vh;
  overflow: auto;
}

.stepperContent {
  position: absolute;
  background-color: white;
  width: 400px;
  padding: 1rem;
  border-radius: 0px 8px 8px 0px;
  height: 700px;
  overflow: auto;
  margin-top: 3rem;
  /* max-width: 800px;
  min-width: 350px;
  margin: auto;
  overflow: auto;
  display: flex; */
}

.menuButton.menuButton {
  position: fixed;
}


.copyrightContainer{
  display: flex;
  width: 100%;
  justify-content: end;
}

.copyright {
  position: fixed;
  bottom: 0px;
  text-align: center;
  color: #6c757d;
  font-size: 0.85rem;
  font-style: italic;
}
