.textDescriptionContent {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.moveBox {
  position: absolute;
  top: 4px;
  width: 50%;
  left: 25%;
  display: flex;
  justify-content: center;
}

.groupQuestion {
  position: relative;
  padding: 2rem 1rem 1rem 2rem;

  page-break-inside: avoid;
  transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
  cursor: default;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.titleQuestion {
  overflow: "hidden";
  width: 100%;
  display: flex;
  align-items: center;
}

.titleQuestion h3 {
  width: auto;
}


.iconBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #16205b;
  font-weight: bold;
}

@keyframes fadeInMoveRight {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.actionToolbarVisible {
  display: flex;
  align-items: center;
  gap: 4px;
  animation: fadeInMoveRight 0.75s ease-out forwards;
}

.contentContainer.contentContainer {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.contentContainer.visible {
  opacity: 1;
  pointer-events: auto;
}

.actionButtons {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  margin-inline-end: 8px;
}

.highlight {
  animation: fadeHighlight 3s ease-in-out;
  background-color: rgba(
    245,
    245,
    220,
    0.7
  ); /* Beige with partial transparency */
}

@keyframes fadeHighlight {
  0% {
    background-color: rgba(
      245,
      245,
      220,
      0.7
    ); /* Start with semi-transparent beige */
  }
  100% {
    background-color: rgba(
      245,
      245,
      220,
      0.2
    ); /* Fade to even more transparent beige */
  }
}
