.mainContainer {
  margin: auto;
  min-width: 300px;
  height: calc(100vh - 64px);
  overflow: auto;
  background: linear-gradient(135deg, #F7F8FC 0%, #EFF1FC 100%);
}

.newSurveysButton {
  margin-bottom: 48px;
  justify-content: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 30px;
}

.loadingWrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50px;
}

.allButton {
  margin-top: 2rem !important;
  background-color: #16205b !important;
  color: #fff !important;
  border-radius: 50px !important;
  font-size: 1.5rem !important;
  padding: 0.25rem 6rem !important;
  text-transform: none !important;
}

@media only screen and (max-width: 1024px) {
  .content {
    padding: 0 1rem;
  }
}

.surveyCardsContainer {
  margin-top: 24px;
  padding: 16px;

}

.noSurveys {
  text-align: center;
}
