.mention-list {
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
  overflow: hidden;
  padding: 0.2rem;
  position: relative;
}

.mention-item {
  align-items: center;
  border-radius: 0.4rem;
  display: flex;
  margin: 0.05rem;
  padding: 0.2rem 0.4rem;
  text-align: left;
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.mention-item:hover,
.mention-item.is-selected {
  background-color: rgba(0, 0, 0, 0.05);
}

.mention-label {
  flex: 1;
  font-weight: 500;
}

.mention-type {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.85rem;
  margin-left: 0.5rem;
}
